<!-- templates/admin/edit_form_template.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>양식 템플릿 수정</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <!-- 폼 빌더 관련 스타일 및 스크립트 추가 -->
  <link rel="stylesheet" href="https://formbuilder.online/assets/css/form-builder.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://formbuilder.online/assets/js/form-builder.min.js"></script>
</head>
<body>
<h1>양식 템플릿 수정</h1>
<form th:action="@{/admin/form-templates/edit/{id}(id=${template.templateId})}" method="post">
  <div>
    <label>양식 이름:</label>
    <span th:text="${template.formName}"></span>
  </div>
  <div>
    <div id="form-builder"></div>
    <!-- formStructure를 숨겨진 필드에 저장 -->
    <input type="hidden" name="formStructure" id="formStructure">
  </div>
  <div>
    <button type="submit">수정 완료</button>
  </div>
</form>
<script>
  $(document).ready(function() {
    let options = {
      formData: JSON.stringify(/*[[${template.formStructure}]]*/),
      dataType: 'json'
    };
    let formBuilder = $('#form-builder').formBuilder(options);

    $('form').submit(function() {
      // 폼 제출 시 formStructure에 현재 양식 데이터를 저장
      $('#formStructure').val(JSON.stringify(formBuilder.actions.getData('json')));
    });
  });
</script>
</body>
</html>
