<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Timo - EmployeeList</title>

    <!-- ========= Iconscout CSS ========== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

    <!-- ========= 사이드바 + 검색창 + 날씨 CSS ========== -->
    <link rel="stylesheet" th:href="@{/css/mainCss/frame.css}">

    <!-- =========   CSS ========== -->

    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script>
        function searchFormSubmit() {
            // 검색어가 비어있는지 확인
            if ($('#searchWord').val().trim() === "") {
                alert('검색어를 입력해주세요.');
                return false;
            }

            // 검색이 활성화됨
            searchEnabled = true;

            // hidden input에 searchEnabled 값 설정
            $('#searchEnabledInput').val(searchEnabled);

            // 폼 제출
            $('#pagingForm').submit();
        }
    </script>
    <!-- 페이지 이동 스크립트  -->
    <script>
        function pagingFormSubmit(currentPage) {
            $('#page').val(currentPage);
            $('#pagingForm').submit();
        }
    </script>

</head>
<body>

<nav>
    <!-- 상단 로고 -->
    <div class="logo-name">
        <div class="logo-image">
            <img th:src="@{/images/mainLogo.png}" alt="">
        </div>

        <!-- 회사 이름 -->
        <!-- 사용자의 회사 이름 불러오기 -->
        <span class="logo_name">Timo</span>
    </div>

    <!-- 메뉴 -->
    <div class="menu-items">
        <ul class="nav-links">
            <!--Home-->
            <li><a th:href="@{/main/board}">
                <i class="uil uil-estate"></i>
                <span class="link-name">홈</span>
            </a></li>

            <!--회사 채팅-->
            <li><a th:href="@{/chat/mainChatPage}">
                <i class="uil uil-comment"></i>
                <span class="link-name">챗룸</span>
            </a></li>

            <!--Calendar-->
            <li><a th:href="@{/calendar/viewCalendar}">
                <i class="uil uil-schedule"></i>
                <span class="link-name">캘린더</span>
            </a></li>

            <!--Approval-->
            <li>
                <a href="">
                    <i class="uil uil-file-alt"></i>
                    <span class="link-name">결재</span>
                </a>
                <ul class="submenu">
                    <li><a th:href="@{/reports/for-me}">받은 결재함</a></li>
                    <li><a th:href="@{/reports/my}">보낸 결재함</a></li>
                    <li><a th:href="@{/reports/create}">결재서 작성</a></li>
                    <li><a th:href="@{/reports/all}">전체 결재함</a></li>
                    <!-- ROLE_ADMIN 전용 양식 수정 링크 -->
                    <li sec:authorize="hasRole('ROLE_ADMIN')">
                        <a th:href="@{/admin/form-templates}">결재서 양식</a>
                    </li>
                </ul>
            </li>

            <!--Message-->
            <li>
                <a href="">
                    <i class="uil uil-envelope"></i>
                    <span class="link-name">쪽지</span>
                </a>
                <ul class="submenu">
                    <li><a th:href="@{/main/message/receivedMessage}">받은 쪽지함</a></li>
                    <li><a th:href="@{/main/message/sentMessage}">보낸 쪽지함</a></li>
                    <li><a th:href="@{/main/message/deletedMessage}">휴지통</a></li>
                </ul>
            </li>

            <!--Memo-->
            <li><a th:href="@{/memo/list}">
                <i class="uil uil-edit"></i>
                <span class="link-name">메모</span>
            </a></li>

            <!--Reserve-->
            <li><a href="/reserve/meetingRoom">
                <i class="uil uil-tag-alt"></i>
                <span class="link-name">회의실 예약</span>
            </a></li>

            <!--Attendance-->
            <li><a th:href="@{/attendance/monthly(year=${T(java.time.LocalDate).now().getYear()}, month=${T(java.time.LocalDate).now().getMonthValue()})}">
                <i class="uil uil-suitcase-alt"></i>
                <span class="link-name">출퇴근 관리</span>
            </a></li>
        </ul>

        <!-- 메뉴 하단 버튼-->
        <ul class="logout-mode">
            <!-- 관리자 페이지 -->

            <li id="adminpage">
                <a href="">
                    <i class="uil uil-shield"></i>
                    <span class="link-name">관리자 페이지</span>
                </a>
                <ul class="submenu">
                    <li><a th:href="@{/admin/EmployeeList}">사원 리스트</a></li>
                    <li><a th:href="@{/admin/ReviseDivision}">부서 관리</a></li>
                    <li><a th:href="@{/admin/InvitationCode}">코드 생성</a></li>
                </ul>
            </li>

            <!-- 로그아웃 -->
            <li><a href="" id="logoutBtn">
                <i class="uil uil-sign-out-alt"></i>
                <span class="link-name">로그아웃</span>
            </a></li>
        </ul>
    </div>

    <!-- 로그아웃 모달 -->
    <div id="logoutModal" class="logout-modal">
        <div class="logout-content">
            <h2>로그아웃 하시겠습니까?</h2>
            <div class="logout-buttons">
                <button id="confirmLogout" class="logout-confirm">확인</button>
                <button id="cancelLogout" class="logout-cancel">취소</button>
            </div>
        </div>
    </div>
    <!-- ========= 사이드바 JS ========== -->
    <script src="/js/mainJs/sidebarJs.js"></script>

</nav>
<!-- 메인 영역 -->
<section class="dashboard">
    <!-- 상단 -->
    <div class="top">
        <!-- 검색 -->
        <div class="search-box">
            <i class="uil uil-search"></i>
            <input type="text" placeholder="Search here...">
        </div>
        <div class="weather">
            <!--        <sapn class="weather-description"></sapn>-->
            <!--        <span class="temperature"></span>-->
            <i class="uil uil-sun sun"></i>
            <span class="temperature">18℃</span>
        </div>
    </div>

    <div class="employeee-container">
        <h2>사원 리스트</h2>
    <!-- 직원 목록 출력 영역 -->
    <table>
        <tr>
            <td class="white">
                전체 <span th:text="${memberList.size()}"></span>명
            </td>
        </tr>
        <tr>
            <th>직원 ID</th>
            <th style="width:200px;">이름</th>
            <th>직급</th>
            <th>부서</th>
            <th>팀</th>
            <th>역할</th>
            <th>작업</th>
        </tr>
        <tr th:each="member : ${memberList}">
            <td th:text="${member['memberId']}"></td>
            <td th:text="${member['memberName']}"></td>
            <td th:text="${member['positionName']}"></td>
            <td th:text="${member['departmentName']}"></td>
            <td th:text="${member['teamName']}"></td>
            <td th:text="${member['role']}"></td>
            <td>
                <a th:href="@{/admin/EmployeeEdit(memberId=${member['memberId']})}">수정</a>
            </td>
        </tr>
    </table>

        <!-- 검색폼 -->
        <form id="pagingForm" method="get" th:action="@{/admin/EmployeeList}">
            <input type="hidden" name="page" id="page" />
            <select id="type" name="searchType">
                <option value="name" th:selected="${searchType == 'name'}">이름</option>
            </select>
            <input type="text" name="searchWord" th:value="${searchWord}">
            <input type="submit" value="검색" onclick="searchFormSubmit()">
            <input type="hidden" name="searchEnabled" id="searchEnabledInput" value="false" />
        </form>

    </div>

</section>
</body>
</html>