<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>Timo - EmployeeEdit</title>
  <!-- ========= Iconscout CSS ========== -->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

  <!-- ========= 사이드바 + 검색창 + 날씨 CSS ========== -->
  <link rel="stylesheet" th:href="@{/css/mainCss/frame.css}">

  <!-- ========= CSS ========== -->
  <link rel="stylesheet" th:href="@{/css/adminCss/employeeEdit.css}">
  <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
  <script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function() {
      let companyId = /*[[${companyId}]]*/ 'defaultCompanyId';
      let memberId = /*[[${memberId}]]*/ 'defaultMemberId'
      let role = /*[[${role}]]*/ 'defaultRole'


      if (companyId) {
        loadDepartments(companyId);
        loadPositions(companyId);
        loadMemberDetails(memberId, role);
        loadRoles()
        loadStatus();
      }
    });

    // 부서 정보를 로드하는 함수
    function loadDepartments(companyId) {
      fetch(`/main/board/departments?companyId=${companyId}`)
              .then(response => response.json())
              .then(data => {
                const departmentSelect = document.getElementById('department');
                departmentSelect.innerHTML = '<option value="" disabled>부서를 선택하세요</option>';
                data.forEach(department => {
                  const option = document.createElement('option');
                  option.value = department.departmentId;
                  option.textContent = department.departmentName;
                  departmentSelect.appendChild(option);
                });
              });
    }

    // 하위 부서 정보를 로드하는 함수
    function loadTeams(departmentId) {
      fetch(`/main/board/teams?departmentId=${departmentId}`)
              .then(response => response.json())
              .then(data => {
                const teamSelect = document.getElementById('team');
                teamSelect.innerHTML = '<option value="" disabled>하위부서를 선택하세요</option>';
                data.forEach(team => {
                  const option = document.createElement('option');
                  option.value = team.teamId;
                  option.textContent = team.teamName;
                  teamSelect.appendChild(option);
                });
              });
    }

    function loadPositions(companyId) {
      fetch(`/main/company/positions?companyId=${companyId}`)
              .then(response => response.json())
              .then(data => {
                const positionSelect = document.getElementById('position');
                positionSelect.innerHTML = '<option value="" disabled>직급을 선택하세요</option>';
                data.forEach(position => {
                  const option = document.createElement('option');
                  option.value = position.positionId;
                  option.textContent = position.positionName;
                  positionSelect.appendChild(option);
                });
              });
    }

    function loadRoles() {
      const roles = [
        { value: 'ROLE_USER', name: '사용자' },
        { value: 'ROLE_EMPLOYEE', name: '직원' },
        { value: 'ROLE_MANAGER', name: '관리자' },
        { value: 'ROLE_ADMIN', name: '어드민' }
      ];

      const roleSelect = document.getElementById('role');
      roleSelect.innerHTML = '<option value="" disabled>역할을 선택하세요</option>';
      roles.forEach(role => {
        const option = document.createElement('option');
        option.value = role.value;
        option.textContent = role.name;
        roleSelect.appendChild(option);
      });
    }

    function loadStatus() {
      const statuses = [
        { value: '재직 중', name: '재직 중' },
        { value: '퇴직', name: '퇴직' },
        { value: '출장', name: '출장' },
        { value: '출산휴가', name: '출산휴가' },
        // 필요한 상태를 여기에 추가할 수 있습니다.
      ];

      const statusSelect = document.getElementById('status');
      statusSelect.innerHTML = '<option value="" disabled>상태를 선택하세요</option>';
      statuses.forEach(status => {
        const option = document.createElement('option');
        option.value = status.value;
        option.textContent = status.name;
        statusSelect.appendChild(option);
      });
    }

    // 직원의 기존 정보를 로드하는 함수
    function loadMemberDetails(memberId, role) {
      fetch(`/admin/FindMember?memberId=${memberId}`) // 직원 정보를 가져오는 엔드포인트
              .then(response => response.json())
              .then(member => {
                // 직원 정보를 폼에 채우기
                document.querySelector('input[name="memberId"]').value = member.memberId;

                // 부서 및 하위 부서 정보를 로드
                document.getElementById('department').value = member.departmentId; // 부서 미리 선택
                loadTeams(member.departmentId); // 하위 부서 로드
                document.getElementById('team').value = member.teamId; // 하위 부서 미리 선택
                document.getElementById('position').value = member.positionId; // 직급 미리 선택
                document.getElementById('status').value = member.status; // 직급 미리 선택
                document.getElementById('status').value = member.status;
                document.getElementById('role').value = role;



                if (role === 'ROLE_ADMIN') {
                  document.getElementById('role').style.display = 'none';
                  document.getElementById('rolel').style.display = 'none';
                }
              });
    }
  </script>
</head>
<body>
<nav>
  <!-- 상단 로고 -->
  <div class="logo-name">
    <div class="logo-image">
      <img th:src="@{/images/mainLogo.png}" alt="">
    </div>

    <!-- 회사 이름 -->
    <!-- 사용자의 회사 이름 불러오기 -->
    <span class="logo_name">Timo</span>
  </div>

  <!-- 메뉴 -->
  <div class="menu-items">
    <ul class="nav-links">
      <!--Home-->
      <li><a th:href="@{/main/board}">
        <i class="uil uil-estate"></i>
        <span class="link-name">홈</span>
      </a></li>

      <!--회사 채팅-->
      <li><a th:href="@{/chat/mainChatPage}">
        <i class="uil uil-comment"></i>
        <span class="link-name">챗룸</span>
      </a></li>

      <!--Calendar-->
      <li><a th:href="@{/calendar/viewCalendar}">
        <i class="uil uil-schedule"></i>
        <span class="link-name">캘린더</span>
      </a></li>

      <!--Approval-->
      <li>
        <a href="">
          <i class="uil uil-file-alt"></i>
          <span class="link-name">결재</span>
        </a>
        <ul class="submenu">
          <li><a th:href="@{/reports/for-me}">받은 결재함</a></li>
          <li><a th:href="@{/reports/my}">보낸 결재함</a></li>
          <li><a th:href="@{/reports/create}">결재서 작성</a></li>
          <li><a th:href="@{/reports/all}">전체 결재함</a></li>
          <!-- ROLE_ADMIN 전용 양식 수정 링크 -->
          <li sec:authorize="hasRole('ROLE_ADMIN')">
            <a th:href="@{/admin/form-templates}">결재서 양식</a>
          </li>
        </ul>
      </li>

      <!--Message-->
      <li>
        <a href="">
          <i class="uil uil-envelope"></i>
          <span class="link-name">쪽지</span>
        </a>
        <ul class="submenu">
          <li><a th:href="@{/main/message/receivedMessage}">받은 쪽지함</a></li>
          <li><a th:href="@{/main/message/sentMessage}">보낸 쪽지함</a></li>
          <li><a th:href="@{/main/message/recycleBin}">휴지통</a></li>
        </ul>
      </li>

      <!--Memo-->
      <li><a th:href="@{/memo/list}">
        <i class="uil uil-edit"></i>
        <span class="link-name">메모</span>
      </a></li>

      <!--Reserve-->
      <li><a href="/reserve/meetingRoom">
        <i class="uil uil-tag-alt"></i>
        <span class="link-name">회의실 예약</span>
      </a></li>

      <!--Attendance-->
      <li><a th:href="@{/attendance/monthly(year=${T(java.time.LocalDate).now().getYear()}, month=${T(java.time.LocalDate).now().getMonthValue()})}">
        <i class="uil uil-suitcase-alt"></i>
        <span class="link-name">출퇴근 관리</span>
      </a></li>
    </ul>

    <!-- 메뉴 하단 버튼-->
    <ul class="logout-mode">
      <!-- 관리자 페이지 -->

      <li id="adminpage">
        <a href="">
          <i class="uil uil-shield"></i>
          <span class="link-name">관리자 페이지</span>
        </a>
        <ul class="submenu">
          <li><a th:href="@{/admin/EmployeeList}">사원 리스트</a></li>
          <li><a th:href="@{/admin/ReviseDivision}">부서 관리</a></li>
          <li><a th:href="@{/admin/InvitationCode}">코드 생성</a></li>
        </ul>
      </li>

      <!-- 로그아웃 -->
      <li><a href="" id="logoutBtn">
        <i class="uil uil-sign-out-alt"></i>
        <span class="link-name">로그아웃</span>
      </a></li>
    </ul>
  </div>

  <!-- 로그아웃 모달 -->
  <div id="logoutModal" class="logout-modal">
    <div class="logout-content">
      <h2>로그아웃 하시겠습니까?</h2>
      <div class="logout-buttons">
        <button id="confirmLogout" class="logout-confirm">확인</button>
        <button id="cancelLogout" class="logout-cancel">취소</button>
      </div>
    </div>
  </div>
  <!-- ========= 사이드바 JS ========== -->
  <script src="/js/mainJs/sidebarJs.js"></script>

</nav>
<!-- 메인 영역 -->
<section class="dashboard">
  <!-- 상단 -->
  <div class="top">
    <!-- 검색 -->
    <div class="search-box">
      <i class="uil uil-search"></i>
      <input type="text" placeholder="Search here...">
    </div>
    <div class="weather">
      <!--        <sapn class="weather-description"></sapn>-->
      <!--        <span class="temperature"></span>-->
      <i class="uil uil-sun sun"></i>
      <span class="temperature">18℃</span>
    </div>
  </div>

  <div class="employee-container">
    <h2>사원 정보 수정</h2>

    <form id="infoform" action="updateMember" method="post">
      <input type="hidden" name="memberId" th:value="${memberId}"/>
      <input type="hidden" name="companyId" th:value="${companyId}"/>
      <input type="hidden" name="role" th:value="${role}"/>

      <div class="form-group">
        <label for="department">부서 선택:</label>
        <select id="department" name="departmentId" onchange="loadTeams(this.value)">
          <option value="" disabled selected>부서를 선택하세요</option>
        </select>
      </div>

      <div class="form-group">
        <label for="team">하위 부서 선택:</label>
        <select id="team" name="teamId">
          <option value="" disabled selected>하위 부서를 선택하세요</option>
        </select>
      </div>

      <div class="form-group">
        <label for="position">직급 이름:</label>
        <select id="position" name="positionId">
          <option value="" disabled selected>직급을 선택하세요</option>
        </select>
      </div>

      <div class="form-group">
        <label for="status">상태 선택:</label>
        <select id="status" name="status">
          <option value="" disabled selected>상태를 선택하세요</option>
        </select>
      </div>

      <div class="form-group" id="role-group">
        <label for="role" id="rolel">역할:</label>
        <select id="role" name="role">
          <option value="" disabled selected>역할을 선택하세요</option>
        </select>
      </div>

      <div class="form-group">
        <button type="submit" class="submit-btn">저장</button>
      </div>
    </form>
  </div>


</section>
</body>
</html>