ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

.submenu {
    display: none;
    margin-left: 20px;
}

.submenu a {
    display: block;
    margin: 5px 0;
}

.submenu2 {
    display: none;
    margin-left: 20px;
}

.submenu2 a {
    display: block;
    margin: 5px 0;
}