<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>mainboard</title>
</head>
<body>
<h1>메인 대시 보드</h1>
    <div>
		<p><a href="/chat/mainChatPage">채팅방</a></p>
		<p><a href="/chat/teamChatPage">팀채팅방</a></p>
		<p><a href="/chat/projectChatPage">프로젝트채팅방</a></p>
        <p><a href="/approval/list">결재함</a></p>
        <p><a href="board/Message">쪽지함</a></p>
        <p><a href="/calendar/cal">캘린더</a></p>
        <p><a href="/memo/list">메모</a></p>
        <p><a href="/project/create">프로젝트 생성</a></p>
        <p><a href="/reserve/meetingRoom">회의실 예약</a></p>
        <p><a href="/organization">사내 조직도</a></p>
        <p><a href="/attendance">근태 관리</a></p>
        <p><a href="/myPage/view">마이 페이지</a></p>
        <p><a href="/managePage/view">관리자 페이지</a></p>
	</div>
</body>
</html>