  <!DOCTYPE html>
  <html xmlns:th="https://thymeleaf.org/"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
      <meta charset="UTF-8">
      <title>메인보드</title>

      <!-- ========= Iconscout CSS ========== -->
      <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

      <!-- ========= 사이드바 + 검색창 + 날씨 CSS ========== -->
      <link rel="stylesheet" th:href="@{/css/mainCss/frame.css}">

      <!-- ========= 메인보드 CSS ========== -->
      <link rel="stylesheet" th:href="@{/css/mainCss/mainboard.css}">
</head>
<body>
  <nav>
    <!-- 상단 로고 -->
    <div class="logo-name">
      <div class="logo-image">
        <img th:src="@{/images/mainLogo.png}" alt="">
      </div>

      <!-- 회사 이름 -->
      <!-- 사용자의 회사 이름 불러오기 -->
      <span class="logo_name">Timo</span>
    </div>

    <!-- 메뉴 -->
    <div class="menu-items">
      <ul class="nav-links">
        <!--Home-->
        <li><a th:href="@{/main/board}">
          <i class="uil uil-estate"></i>
          <span class="link-name">Home</span>
        </a></li>

        <!--회사 채팅-->
        <li><a th:href="@{/chat/mainChatPage}">
              <i class="uil uil-comment"></i>
              <span class="link-name">Chatroom</span>
        </a></li>

        <!--Calendar-->
        <li><a th:href="@{/calendar/viewCalendar}">
          <i class="uil uil-schedule"></i>
          <span class="link-name">Calendar</span>
        </a></li>

        <!--Approval-->
        <li>
          <a href="">
            <i class="uil uil-file-alt"></i>
            <span class="link-name">Approval</span>
          </a>
          <ul class="submenu">
            <li><a th:href="@{/reports/for-me}">Receive Approval</a></li>
            <li><a th:href="@{/reports/my}">Sent Approval</a></li>
            <li><a th:href="@{/reports/create}">Write Approval</a></li>
            <li><a th:href="@{/reports/all}">All Approval</a></li>
            <!-- ROLE_ADMIN 전용 양식 수정 링크 -->
            <li sec:authorize="hasRole('ROLE_ADMIN')">
              <a th:href="@{/admin/form-templates}">양식 수정</a>
            </li>
          </ul>
        </li>

        <!--Message-->
        <li>
          <a href="">
            <i class="uil uil-envelope"></i>
            <span class="link-name">Message</span>
          </a>
          <ul class="submenu">
            <li><a th:href="@{/main/message/receivedMessage}">Receive Message</a></li>
            <li><a th:href="@{/main/message/sentMessage}">Sent Message</a></li>
            <li><a th:href="@{/main/message/deletedMessage}">Recycle Bin</a></li>
          </ul>
        </li>

        <!--Memo-->
        <li><a th:href="@{/memo/list}">
          <i class="uil uil-edit"></i>
          <span class="link-name">memo</span>
        </a></li>

        <!--Reserve-->
        <li><a href="/reserve/meetingRoom">
          <i class="uil uil-tag-alt"></i>
          <span class="link-name">Reserve</span>
        </a></li>

        <!--Attendance-->
        <li><a th:href="@{/attendance}">
          <i class="uil uil-suitcase-alt"></i>
          <span class="link-name">Attendance</span>
        </a></li>

        <!--Crew-->
        <li><a href="/organization">
          <i class="uil uil-user-check"></i>
          <span class="link-name">Crew</span>
        </a></li>
      </ul>

    <!-- 메뉴 하단 버튼-->
    <ul class="logout-mode">
      <!-- 관리자 페이지 -->

      <li id="adminpage">
        <a href="">
          <i class="uil uil-shield"></i>
          <span class="link-name">Admin</span>
        </a>
        <ul class="submenu">
          <li><a th:href="@{/admin/EmployeeList}">EmployeeList</a></li>
          <li><a th:href="@{/admin/ReviseDivision}">Revise Division</a></li>
          <li><a th:href="@{/admin/InvitationCode}">Invitation code generation</a></li>
        </ul>
      </li>

        <!-- 마이 페이지 -->
        <li><a href="/myPage/view">
          <i class="uil uil-user-circle"></i>
          <span class="link-name">Mypage</span>
        </a></li>

        <!-- 로그아웃 -->
        <li><a href="" id="logoutBtn">
          <i class="uil uil-sign-out-alt"></i>
          <span class="link-name">Logout</span>
        </a></li>
      </ul>
    </div>

    <!-- 로그아웃 모달 -->
    <div id="logoutModal" class="logout-modal">
      <div class="logout-content">
        <h2>로그아웃 하시겠습니까?</h2>
        <div class="logout-buttons">
          <button id="confirmLogout" class="logout-confirm">확인</button>
          <button id="cancelLogout" class="logout-cancel">취소</button>
        </div>
      </div>
    </div>
    <!-- ========= 사이드바 JS ========== -->
    <script src="/js/mainJs/sidebarJs.js"></script>

  </nav>
  <!-- 메인 영역 -->
  <section class="dashboard">
    <!-- 상단 -->
    <div class="top">
      <!-- 검색 -->
      <div class="search-box">
        <i class="uil uil-search"></i>
        <input type="text" placeholder="Search here...">
      </div>
      <div class="weather">
        <i class="uil uil-sun sun"></i>
        <span class="temperature">32℃</span>
      </div>
    </div>

    <!-- Hi, 유저이름-->
    <div class="welcome-ment">
      안녕하세요! <span th:text="${departmentName} + ', ' + ${memberName}"></span>님
    </div>

    <!-- 대시보드 첫번째 영역 -->
    <div class="first-area">

      <!-- 1. 프로필 영역 -->
      <div class="profile-area">
        <h2><i class="uil uil-user"></i> Profile</h2>
        <!-- 프로필 박스 -->
        <div class="profile-box">
          <div class="profile-img">
            <img th:src="@{/images/userProfile.jpg}" alt="">
          </div>
          <p class="user-name" th:text="${memberName}"></p>
          <p class="user-department" th:text="${departmentName} + ', ' + ${teamName}"></p>
          <p class="user-mail" th:text="${email}"></p>
        </div>
      </div>

      <!-- 2. 결재 목록 영역 -->
      <div class="approval-area">
        <h2>
          <i class="uil uil-file-alt"></i>
<!--
          <a href="/html/approval-get.html"> Approval</a>
-->
          <a th:href="@{/reports/for-me}"> Approval</a>

        </h2>
        <!-- 결재 목록 박스 -->
        <div class="approval-box">
          <table class="approval-list">
            <tr>
              <th>Name</th>
              <th>Title</th>
              <th>Type</th>
              <th>Status</th>
            </tr>
            <tr class="sender-area"> <!-- 테이블 반복문 통해 최신꺼부터 5개 가져오기-->
              <td class="sender">Jeongbeen Lee</td>
              <td>9월 16일, 반차 신청합니다. </td>
              <td>반차/연차</td>
              <td class="status-waiting">대기 중</td>
            </tr>
            <tr class="sender-area">
              <td class="sender">Hyoseong Kim</td>
              <td>개발팀, 듀얼 모니터 1대 부탁드립니다.</td>
              <td>물품 관리</td>
              <td class="status-ok">승인완료</td>
            </tr>
            <tr class="sender-area">
              <td class="sender">Hosina Soushiro</td>
              <td>도쿄 지사 개발팀 인력 지원 부탁드립니다.</td>
              <td>결재 요청</td>
              <td class="status-no">반려</td>
            </tr>
          </table>
        </div>
      </div>

      <!-- 3.. 캘린더 영역 -->
      <div class="calendar-area">
        <h2>
          <i class="uil uil-schedule"></i>
          <a th:href="@{/calendar/viewCalendar}"> Calendar</a>
        </h2>
        <!-- 캘린더 박스 -->
        <div class="calendar-box">
          <!-- 캘린더 -->
          <div class="mini-calendar">
            <div class="calendar-header">
              <span class="month-year"></span>
            </div>
            <div class="calendar-body">
              <div class="calendar-week-days">
                <div>일</div>
                <div>월</div>
                <div>화</div>
                <div>수</div>
                <div>목</div>
                <div>금</div>
                <div>토</div>
              </div>
              <div class="calendar-days"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 대시보드 두번째 영역-->
    <div class="second-area">

      <!--비콘 영역-->
      <!-- Kakao Maps JavaScript API 스크립트 추가 -->
      <script type="text/javascript"
              src="//dapi.kakao.com/v2/maps/sdk.js?appkey=152d8241a6e1b124d6f49f7f7ab3e786&libraries=services"></script>
      <div class="attendance-area">
        <h2>
          <i class="uil uil-suitcase-alt"></i>
          <a th:href="@{/attendance}"> Attendance</a>
        </h2>
        <!-- 비콘 박스 -->
        <div class="attendance-box">
          <div class="attendance-control">
            <button id="checkInBtn" type="button" th:disabled="${isCheckInDisabled}">start work</button>
            <span id="checkInTime" th:text="${checkInTime}"></span>
          </div>
          <div class="attendance-control">
            <button id="checkOutBtn" type="button"  th:disabled="${isCheckOutDisabled}">leave</button>
            <span id="checkOutTime" th:text="${checkOutTime}"></span>
          </div>
        </div>
      </div>

      <!--쪽지 영역-->
      <div class="message-area">
        <h2>
          <i class="uil uil-envelope"></i>
          <a th:href="@{/main/board/ReceivedMessage}"> Message</a>
        </h2>
        <!-- 쪽지 박스 -->
        <div class="message-box">
          <div class="message-item" th:each="message : ${receivedMessageList}" th:data-message-id="${message.messageId}">
            <span class="subject" th:text="${message.title}"></span>
            <span class="sender" th:text="${message.senderId}"></span>
          </div>
        </div>
      </div>

      <!--메모 영역-->
      <div class="memo-area">
        <h2>
          <i class="uil uil-edit"></i>
          <a th:href="@{/memo/list}"> Memo</a>
        </h2>
        <!-- 메모 박스 -->
        <div class="memo-box">
          <div class="memo-item" th:each="memo, status : ${memoPage}" th:if="${status.index < 4}">
            <span  id="memoContent" class="memo-title" th:text="${#strings.abbreviate(memo.content, 20)}" th:data-full-content="${memo.content}"></span>
            <input type="hidden" id="memoId" th:value="'#'+${memo.memoId}">
            <input type="hidden" id="memoDate" class="date" th:value="${memo.createdAt != null ? #temporals.format(memo.createdAt, 'yyyy-MM-dd HH:mm') : 'N/A'}">
          </div>
        </div>
      </div>

      <!--오늘 할 일 영역-->
      <div class="today-area">
        <h2><i class="uil uil-clipboard-notes"></i> Today</h2>
        <!-- 오늘 할 일 박스 -->
        <div class="today-box">
          <div class="today-date">2024.09.09 월요일</div>
          <div class="today-item">
            <span>13:00</span>
            <span>마케팅팀 프로젝트 회의</span>
          </div>
          <div class="today-item">
            <span>14:00</span>
            <span>팀 전체 회의</span>
          </div>
          <div class="today-item">
            <span>16:00</span>
            <span>성수동 외근</span>
          </div>
        </div>
      </div>

    </div>
  </section>

  <!-- 메모 내용 모달 -->
  <div id="memo-modal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h2 id="memo-modal-subject"></h2>
      <div id="memo-modal-content"></div>
      <p id="memo-modal-date"></p>
    </div>
  </div>

  <!-- ========= JS ========== -->
  <script src="/js/mainJs/mainJs.js"></script>
  </section>
  </nav>

</body>
</html>