<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script>
        // 문서가 준비되면 실행되는 코드
        $(document).ready(function(){
            // 'inputButton' 버튼 클릭 시 실행되는 함수
            $('#inputButton').click(function(){
                // 버튼의 'data-email' 속성값을 가져옵니다.
                let email = $(this).data('email');

                // opener(부모 창)의 'email' 입력 필드에 이메일 값을 설정합니다.
                $(opener.document).find('#email').val(email);

                // 현재 창을 닫습니다.
                window.close();
            });
        });
    </script>
</head>
<body>
<header>
    <h1>[ 이메일 중복 확인 ]</h1>
</header>
<section>
    <!-- 이메일 검색 폼 -->
    <form id="searchForm" action="emailCheck" method="post">
        <!-- 검색할 이메일 입력 필드 -->
        <td>검색할 이메일 <input type="text" name="searchEmail" id="searchEmail"></td>
        <!-- 검색 버튼 -->
        <td><input type="submit" value="검색"></td>
    </form>

    검색 결과 출력
    <p>[[${searchEmail}]], [[${result}]]</p>

    <!-- 검색한 후 결과를 출력하기 위한 조건 -->
    <div th:if="${searchEmail != null}">
        <!-- 사용 가능한 이메일인 경우 -->
        <div th:if="${result}">
            <p><span th:text="${searchEmail}"></span></p> <!-- 검색한 이메일 출력 -->
            <span>: 사용 가능한 이메일입니다.</span>
            <p>
                <!-- 이메일 사용하기 버튼 -->
                <input type="button" value="이메일 사용하기"
                       id="inputButton" th:data-email="${searchEmail}">
            </p>
        </div>
        <!-- 사용 불가능한 이메일인 경우 -->
        <div th:if="${not result}">
            <p><span th:text="${searchEmail}"></span><span> : 이미 사용중인 이메일입니다.</span></p>
        </div>
    </div>

</section>

</body>
</html>