<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <title>회원가입폼</title>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script>
      $(document).ready(function () {
        $("#joinform").submit(validation);
        $("#checkIdBtn").click(winOpen);

        // 비밀번호 확인 이벤트 핸들러
        $("#confirmPassword").on("keyup", function () {
          var password = $("#memberPassword").val();
          var confirmPassword = $(this).val();

          // 비밀번호와 확인 비밀번호가 일치하는지 확인
          if (password === confirmPassword) {
            $("#passwordCheckResult")
              .text("비밀번호가 일치합니다.")
              .css("color", "green");
          } else {
            $("#passwordCheckResult")
              .text("비밀번호가 일치하지 않습니다.")
              .css("color", "red");
          }
        });

        // 가입 버튼 클릭 이벤트 핸들러
        $("#joinForm").on("submit", function (event) {
          var password = $("#memberPassword").val();
          console.log("입력된 비밀번호:", password); // 비밀번호 로그 출력
          var confirmPassword = $("#confirmPassword").val();
          var id = $("#memberId").val();

          // id 입력 검사
          if (!id) {
            alert("id를 입력하시오");
            event.preventDefault();
          }

          // 비밀번호와 확인 비밀번호가 일치하는지 확인
          if (password !== confirmPassword) {
            alert("비밀번호와 비밀번호 확인이 일치하지 않습니다.");
            event.preventDefault(); // 폼 제출 막기
          }
        });
      });

      function validation() {
        let id = $("#memberId").val();
        let pw = $("#memberPassword").val();
        let name = $("#memberName").val();

        if (id.length < 3 || id.length > 10) {
          alert("ID는 3~10자로 입력하세요");
          return false;
        }

        if (pw.length < 3 || pw.length > 10) {
          alert("ID는 3~10자로 입력하세요");
          return false;
        }
        return true;
      }

      //id검사창 새로 띄우기
      function winOpen() {
        let w = window.open(
          "idCheck",
          "win",
          "left=500,top=200,width=500,height=400,location=no"
        );
      }
    </script>
  </head>
  <body>
    <header>
      <<<<<<< HEAD
      <h1>[ 회원가입 ]</h1>
      =======
      <h1>[ 회원가입 ]</h1>
      >>>>>>> b27c56ed49d9b7f4a7b8f443238c5bcd4c151190
    </header>

    <form id="joinForm" th:action="@{/member/join}" method="post">
      <<<<<<< HEAD
      <table>
        <main>
          <tr>
            <td>ID</td>
            <td>
              <input
                type="text"
                name="memberId"
                id="memberId"
                maxlength="10"
                placeholder="id입력"
                readonly
              />
            </td>
            <!-- readonly -> 사용자 입력대신 아이디 조회창에서 받아온 id로만 입력됨 -->
            <td><button type="button" id="checkIdBtn">ID 중복 확인</button></td>
            <!-- id 중복 확인창 이동 -->
          </tr>
          <tr>
            <td colspan="3"><span id="idCheckResult"></span></td>
          </tr>
          <tr>
            <td>PW</td>
            <td>
              <input
                type="password"
                id="memberPassword"
                name="memberPassword"
              />
            </td>
            <td></td>
          </tr>
          <tr>
            <td>PW 확인</td>
            <td>
              <input type="password" id="confirmPassword" />
            </td>
            <td><span id="passwordCheckResult"></span></td>
          </tr>
          <tr>
            <td>이름</td>
            <td>
              <input type="text" id="memberName" name="memberName" />
            </td>
          </tr>
          <tr>
            <td>이메일</td>
            <td>
              <input type="text" id="email" name="email" />
            </td>
          </tr>
        </main>
        <footer>
          <tr>
            <td colspan="3">
              <button type="submit" value="가입">가입</button>
              <button type="reset">다시 쓰기</button>
            </td>
          </tr>
        </footer>
      </table>
      =======
      <table>
        <main>
          <tr>
            <td>ID</td>
            <td>
              <input
                type="text"
                name="memberId"
                id="memberId"
                maxlength="10"
                placeholder="id입력"
                readonly
              />
            </td>
            <!-- readonly -> 사용자 입력대신 아이디 조회창에서 받아온 id로만 입력됨 -->
            <td><button type="button" id="checkIdBtn">ID 중복 확인</button></td>
            <!-- id 중복 확인창 이동 -->
          </tr>
          <tr>
            <td colspan="3"><span id="idCheckResult"></span></td>
          </tr>
          <tr>
            <td>PW</td>
            <td>
              <input
                type="password"
                id="memberPassword"
                name="memberPassword"
              />
            </td>
            <td></td>
          </tr>
          <tr>
            <td>PW 확인</td>
            <td>
              <input type="password" id="confirmPassword" />
            </td>
            <td><span id="passwordCheckResult"></span></td>
          </tr>
          <tr>
            <td>이름</td>
            <td>
              <input type="text" id="memberName" name="memberName" />
            </td>
          </tr>
          <tr>
            <td>이메일</td>
            <td>
              <input type="text" id="email" name="email" />
            </td>
          </tr>
        </main>
        <footer>
          <tr>
            <td colspan="3">
              <button type="submit" value="가입">가입</button>
              <button type="reset">다시 쓰기</button>
            </td>
          </tr>
        </footer>
      </table>
      >>>>>>> b27c56ed49d9b7f4a7b8f443238c5bcd4c151190
    </form>
  </body>
</html>
