<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>로그인</title>
	<!-- jQuery 파일 불러오기 -->
	<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
	<script>
		$(document).ready(function() {
			
		});
	</script>
</head>
<body>
	<h1>[ 로그인 ]</h1>

	<form action="/member/login" method="post">
		ID <input type="text" name="memberId"/><br>
		PW <input type="password" name="memberPassword"/><br>
		<button type="submit">로그인</button>
	</form>

</body>
</html>
