<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org/"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>로그인</title>
	<!-- jQuery 파일 불러오기 -->
	<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
	<script>
		$(document).ready(function() {

		});
	</script>
</head>
<body>

<h1>[ 로그인 ]</h1>

<form action="/member/login" method="post">
	ID <input type="text" name="memberId" required/><br>
	PW <input type="password" name="memberPassword" required/><br>
	<button type="submit">로그인</button>
</form>

<!-- 에러 메시지 표시 영역 -->
<div th:if="${param.error}" style="color: red;">
	<p>로그인에 실패했습니다. ID와 PW를 확인하세요.</p>
</div>
<div th:if="${param.logout}" style="color: green;">
	<p>로그아웃 되었습니다.</p>
</div>
</body>
</html>