<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">

    <!-- ========= Iconscout CSS ========== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

    <!-- ========= CSS ========== -->
    <link rel="stylesheet" href="/css/createCompany.css">
    <title>회사 생성 폼</title>
</head>

<!--============= JS  =============== -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="/js/jquery-3.7.1.min.js"></script>
<script src="/js/companyJs/createCompany.js"></script>

<body>
    <div class="container">
        <form class="companyForm" method="post" action="saveCompany" onsubmit="return validateForm()">
            <div class="logo">Timo</div>
            <h2 style="text-align: center;">회사 생성하기</h2>

            <!-- 회사 이름 입력 -->
            <input type="text" id="company_name" name="company_name" placeholder="회사명" required>

            <!-- 회사 생성자 이름 hidden으로 저장 -->
            <input type="hidden" id="memberId" name="memberId" th:value="${loggedInUserId}">

            <!-- 회사 url 입력 -->
            <div class="url-group">
                <input type="text" id="companyUrl" name="companyUrl" placeholder="회사 url" required>
                <button type="button" id="urlCheck">중복확인</button>
            </div>

            <!-- 제출 -->
            <button type="submit" class="btn">생성하기</button>
        </form>
    </div>

    <!-- url 중복확인 모달 -->
    <div id="urlCheckModal" class="url-modal">
        <div class="url-modal-content">
            <p id="urlMessage"></p>
            <button onclick="closeModal()">확인</button>
        </div>
    </div>

</body>
</html>