<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">

    <!-- ========= Iconscout CSS ========== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

    <!-- ========= CSS ========== -->
    <link rel="stylesheet" href="/css/roleRegister.css">

    <title>로그인 후 랜딩페이지</title>
</head>
<body>
  <div class="container">
    <div class="left-panel">
      <div class="logo">Timo</div>
      <div class="acronym">
        <strong>T</strong>eamwork · <strong>I</strong>ntegration · <strong>M</strong>anagement · <strong>O</strong>ptimization
      </div>
      <div class="tagline">효율적인 팀워크를 위한 혁신적인 그룹웨어 솔루션</div>
      <div class="btn-group">
        <button class="btn-create">생성하기</button>
        <button class="btn-join">참여하기</button>
      </div>
    </div>
    <div class="right-panel">
      <div class="user-info">
        안녕하세요, <span th:text="${memberName}"></span>님
        <button class="logout-btn">로그아웃</button>
      </div>
    </div>
  </div>

  <!-- 로그아웃 모달 -->
  <div id="logoutModal" class="logout-modal">
    <div class="logout-content">
      <h2>로그아웃 하시겠습니까?</h2>
      <div class="logout-buttons">
        <button id="confirmLogout" class="logout-confirm">확인</button>
        <button id="cancelLogout" class="logout-cancel">취소</button>
      </div>
    </div>
  </div>
  <script src="/js/memberJs/logout.js"></script>


  <!-- 생성하기 클릭 시 모달 -->
  <div id="createModal" class="create-modal">
    <div class="create-modal-content">
      <h2>회사 정보 입력</h2>
      <input type="text" id="companyNameInput" placeholder="회사명 (영문)">
      <div id="companyUrl" class="company-url"></div>
      <div id="errorMessage" class="error-message"></div>
      <input type="text" id="companyFullName" placeholder="회사 이름">
      <input type="text" id="companyAddress" placeholder="회사 주소">
      <div class="btn-group">
        <button id="cancelCreate" class="create-cancel">취소</button>
        <a href=""><button id="nextCreate" class="create-next">다음</button></a>
      </div>
    </div>
  </div>
  <!-- 생성하기 js -->
  <script src="/js/companyJs/createCompany.js"></script>


  <!-- 참여하기 클릭 시 모달 -->
  <div id="joinModal" class="join-modal">
    <div class="join-modal-content">
      <h2>회사 참여</h2>
      <input type="text" id="joinCompanyNameInput" placeholder="회사 주소 (영문)">
      <div id="joinCompanyUrl" class="company-url"></div>
      <div id="joinErrorMessage" class="error-message"></div>
      <div class="btn-group">
        <button id="cancelJoin" class="join-cancel">취소</button>
        <button id="nextJoin" class="join-next">다음</button>
      </div>
    </div>
  </div>
  <!-- 참여하기 js -->
  <script src="/js/companyJs/joinCompany.js"></script>

</body>
</html>