<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>출퇴근 관리</title>
    <!-- Kakao Maps JavaScript API 스크립트 추가 -->
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=152d8241a6e1b124d6f49f7f7ab3e786&libraries=services"></script>
    <style>
        /* 스타일 작성 */
        #map {
            width: 100%;
            height: 400px;
        }
    </style>
</head>
<body>
<h1>출퇴근 관리</h1>
<div id="map"></div>

<!-- 버튼 상태와 시간 정보를 Thymeleaf로 바인딩 -->
<button id="checkInBtn" type="button" th:disabled="${isCheckInDisabled}">출근</button>
<span id="checkInTime">출근 시간: <span th:text="${checkInTime}">--:--</span></span>

<button id="checkOutBtn" type="button" th:disabled="${isCheckOutDisabled}">퇴근</button>
<span id="checkOutTime">퇴근 시간: <span th:text="${checkOutTime}">--:--</span></span>

<script th:src="@{/js/attendanceJs/attendance.js}"></script>
</body>
</html>
