<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>삭제된 쪽지함</title>
<style>
th, td {
	border: 3px solid; text-align : center;
	padding: 10px;
}

#sender, #receiver {
	width: 70px;
}

#title {
	width: 150px;
}

#content {
	width: 200px;
}

#deleteDate {
	color: black;
}

#delete {
	border: 0 solid; text-align : center;
}

#restore {
	border: 0 solid; text-align : center;
}
</style>
<script>
	function del(id) {
		if (confirm('정말로 삭제하시겠습니까?')) {
			location.href = 'delete?messageNum=' + id;
		}
	}

	function restoreMessage(messageNum) {
		if (confirm("이 메시지를 복원하시겠습니까?")) {
			fetch(`restoreMessage?messageNum=${messageNum}`)
					.then(response => response.text())
					.then(result => {
						if (result === 'success') {
							alert('메시지가 복원되었습니다.');
							location.reload(); // 페이지를 새로고침하여 삭제된 메시지를 반영
						} else {
							alert('메시지 복원에 실패했습니다.');
						}
					})
					.catch(error => console.error('Error:', error));
		}
	}

</script>

</head>
<body>
	<h1>[ 삭제된 쪽지]</h1>
	<table>
		<tr>
			<th>발신자</th>
			<th>수신자</th>
			<th>제목</th>
			<th>내용</th>
			<th>삭제한 날짜</th>
			<th>읽음 여부</th>
		</tr>
		<tr th:each="message : ${deletedMessageList}">
			<td id="sender" th:text="${message.senderUserId}"></td>
			<td id="receiver" th:text="${message.receiverUserId}"></td>
			<td><a id="title" th:text="${message.title}" href="#"
				th:onclick="'openMessagePopup(' + ${message.messageNum} + ');'"></a></td>
			<td id="content" th:text="${message.content}"></td>
			<td id="deleteDate" th:text="${#temporals.format(message.deleteDate, 'yy.MM.dd')}"></td>
			<td id="readChk" th:text="${message.readChk} ? '읽음' : '안 읽음'"></td>
			<td id="restore"><button class="resButton" th:onclick="'restoreMessage(' + ${message.messageNum} + ');'">복원</button></td>
			<td id="delete"><button class="delButton" th:onclick="'del(' + ${message.messageNum} + ');'">삭제</button></td>
		</tr>
	</table>
	<a href="Message">쪽지함으로 돌아가기</a>
</body>
</html>