<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>게시판</title>
	<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
	<script>
		//보낸 메세지이기 때문에 답장기능 x
	</script>
</head>
<body>
<header>
	<!-- 페이지 제목을 표시 -->
	<h1>[ 보낸 쪽지 내용보기 ]</h1>
</header>
<section>
	<!-- 보낸 쪽지의 세부 사항을 표시하는 테이블 -->
	<table>
		<!-- 부서 정보를 표시 -->
		<tr>
			<th>부서</th>
			<td th:text="${departmentName}"></td> <!-- Thymeleaf를 사용하여 부서 이름을 출력 -->
		</tr>
		<!-- 하위 부서 정보를 표시 -->
		<tr>
			<th>하위부서</th>
			<td th:text="${TeamName}"></td> <!-- Thymeleaf를 사용하여 하위 부서 이름을 출력 -->
		</tr>
		<!-- 수신자 정보를 표시 -->
		<tr>
			<th>수신자</th>
			<td th:text="${message.receiverId}"></td> <!-- Thymeleaf를 사용하여 수신자 ID를 출력 -->
		</tr>
		<!-- 발송 시간을 표시 -->
		<tr>
			<th>보낸 시간</th>
			<td th:text="${#temporals.format(message.sentAt, 'yy.MM.dd HH')}"></td> <!-- Thymeleaf를 사용하여 포맷된 발송 시간을 출력 -->
		</tr>
		<!-- 메시지 제목을 표시 -->
		<tr>
			<th>제목</th>
			<td th:text="${message.title}"></td> <!-- Thymeleaf를 사용하여 메시지 제목을 출력 -->
		</tr>
		<!-- 메시지 내용을 표시 -->
		<tr>
			<th>내용</th>
			<td th:text="${message.content}"></td> <!-- Thymeleaf를 사용하여 메시지 내용을 출력 -->
		</tr>
		<!-- 첨부 파일 정보를 표시 -->
		<tr>
			<th>파일첨부</th>
			<td>
				<!-- 첨부 파일 다운로드 링크를 생성 -->
				<a th:href="@{'/main/board/download'(messageId=${message.messageId})}" th:text="${message.messageId}"></a> <!-- Thymeleaf를 사용하여 파일 이름과 다운로드 링크를 출력 -->
			</td>
		</tr>
	</table>
</section>
</body>
</html>