<!DOCTYPE html>
<html lang="ko">
  <html
    lang="ko"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  >
    <head>
      <meta charset="UTF-8" />
      <title>login test</title>
    </head>
    <body>
      <h1>[ 로그인 테스트 ]</h1>

      <div sec:authorize="not isAuthenticated()">
        <p><a th:href="@{member/joinForm}">회원가입</a></p>
        <p><a href="/member/loginForm">로그인</a></p>
      </div>

      <div sec:authorize="isAuthenticated()">
        <p><a href="/member/logout">로그아웃</a></p>
        <p><a href="/main/board">메인보드</a></p>
      </div>
    </body>
  </html>
</html>
