<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- ========= Iconscout CSS ========== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

    <!-- ========= CSS ========== -->
    <link rel="stylesheet" href="/css/landing.css">

    <title>Landing Page</title>
</head>
<body>
<div class="container">
    <div class="left-panel">
        <div class="logo">Timo</div>
        <div class="acronym">
            <strong>T</strong>eamwork · <strong>I</strong>ntegration · <strong>M</strong>anagement · <strong>O</strong>ptimization
        </div>
        <div class="tagline">효율적인 팀워크를 위한 혁신적인 그룹웨어 솔루션</div>
        <div class="btn-group" sec:authorize="!isAuthenticated()">
            <a href="/member/loginForm"><button class="btn btn-primary">로그인</button></a>
            <a th:href="@{member/joinForm}"><button class="btn btn-secondary">회원가입</button></a>
        </div>
    </div>
    <div class="right-panel"></div>
</div>

</body>
</html>