<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Timo - Memo List</title>

    <!-- ========= Iconscout CSS ========== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

    <!-- ========= 사이드바 + 검색창 + 날씨 CSS ========== -->
    <link rel="stylesheet" href="/css/mainCss/frame.css">

    <!-- ========= MEMO CSS ========== -->
    <link rel="stylesheet" th:href="@{/css/memoCss/memo.css}">
</head>
<script>
    // 메모 작성 버튼
    document.addEventListener('DOMContentLoaded', function() {
        const compose = document.getElementById('compose-btn');

        compose.addEventListener('click', function() {
            window.location.href = '/memo/add';
        });
    });

    <!-- =============== 메모 읽기 모달 =============== -->
    const memoList = document.querySelector('.memo-grid');

    // 메모 클릭 시 모달 오픈
    memoList.addEventListener('click', function(e) {
        if (e.target.closest('.memo-item')) {
            const item = e.target.closest('.memo-item');
            showMemo(item);
        }
    });

    // 메모 내용 모달에 띄우기
    function showMemo(item) {
        const subject = item.querySelector('.modal-subject').textContent;
        const date = item.querySelector('.date').textContent;

        document.getElementById('modal-subject').textContent = subject;
        document.getElementById('modal-date').textContent = '작성 날짜: ' + date;
        document.getElementById('modal-content').textContent = '여기에 메시지 내용이 표시됩니다.'; // 실제 내용으로 대체 필요

        memoModal.style.display = 'block';
    }

    // 모달 외부 클릭 시 닫기
    window.addEventListener('click', function(e) {
        if (e.target == memoModal) {
            memoModal.style.display = 'none';
        }
        if (e.target == composeModal) {
            composeModal.style.display = 'none';
        }
    });

</script>
<body>
    <nav>
    <!-- 상단 로고 -->
    <div class="logo-name">
        <div class="logo-image">
            <img src="/images/mainLogo.png" alt="">
        </div>

        <!-- 회사 이름 -->
        <!-- 사용자의 회사 이름 불러오기 -->
        <span class="logo_name">Timo</span>
    </div>

    <!-- 메뉴 -->
    <div class="menu-items">
        <ul class="nav-links">
            <!--Home-->
            <li><a href="/main/board">
                <i class="uil uil-estate"></i>
                <span class="link-name">Home</span>
            </a></li>

            <!--회사 채팅-->
            <li>
                <a href="">
                    <i class="uil uil-comment"></i>
                    <span class="link-name">Chatroom</span>
                </a>
                <ul class="submenu">
                    <li><a href="/chat/mainChatPage">Main Chat</a></li>
                    <li><a href="/chat/teamChatPage">Team Chat</a></li>
                    <li><a href="/project/create">Create Chat</a></li>
                </ul>
            </li>

            <!--Calendar-->
            <li><a href="/calendar/viewCalendar">
                <i class="uil uil-schedule"></i>
                <span class="link-name">Calendar</span>
            </a></li>

            <!--Approval-->
            <li>
                <a href="">
                    <i class="uil uil-file-alt"></i>
                    <span class="link-name">Approval</span>
                </a>
                <ul class="submenu">
                    <li><a href="#">Receive Approval</a></li>
                    <li><a href="#">Sent Approval</a></li>
                    <li><a href="#">Write Approval</a></li>
                </ul>
            </li>

            <!--Message-->
            <li>
                <a href="">
                    <i class="uil uil-envelope"></i>
                    <span class="link-name">Message</span>
                </a>
                <ul class="submenu">
                    <li><a href="/main/board/ReceivedMessage">Receive Message</a></li>
                    <li><a href="/main/board/SentMessage">Sent Message</a></li>
                    <li><a href="/main/board/DeletedMessage">Recycle Bin</a></li>
                </ul>
            </li>

            <!--Memo-->
            <li><a th:href="@{/memo/list}">
                <i class="uil uil-edit"></i>
                <span class="link-name">memo</span>
            </a></li>

            <!--Reserve-->
            <li><a href="/reserve/meetingRoom">
                <i class="uil uil-tag-alt"></i>
                <span class="link-name">Reserve</span>
            </a></li>

            <!--Attendance-->
            <li><a href="/attendance">
                <i class="uil uil-suitcase-alt"></i>
                <span class="link-name">Attendance</span>
            </a></li>

            <!--Crew-->
            <li><a href="/organization">
                <i class="uil uil-user-check"></i>
                <span class="link-name">Crew</span>
            </a></li>
        </ul>

        <!-- 메뉴 하단 버튼-->
        <ul class="logout-mode">
            <!-- 관리자 페이지 -->
            <li id="adminpage" sec:authorize="hasAnyRole('ADMIN')"><a href="#">
                <i class="uil uil-shield"></i>
                <span class="link-name">Admin</span>
            </a></li>

            <!-- 마이 페이지 -->
            <li><a href="/myPage/view">
                <i class="uil uil-user-circle"></i>
                <span class="link-name">Mypage</span>
            </a></li>

            <!-- 로그아웃 -->
            <li><a href="" id="logoutBtn">
                <i class="uil uil-sign-out-alt"></i>
                <span class="link-name">Logout</span>
            </a></li>
        </ul>
    </div>

    <!-- 로그아웃 모달 -->
    <div id="logoutModal" class="logout-modal">
        <div class="logout-content">
            <h2>로그아웃 하시겠습니까?</h2>
            <div class="logout-buttons">
                <button id="confirmLogout" class="logout-confirm">확인</button>
                <button id="cancelLogout" class="logout-cancel">취소</button>
            </div>
        </div>
    </div>
    <!-- ========= 사이드바 JS ========== -->
    <script src="/js/mainJs/sidebarJs.js"></script>

</nav>
<!-- 메인 영역 -->
    <section class="dashboard">
        <!-- 상단 -->
        <div class="top">
            <!-- 검색 -->
            <div class="search-box">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Search here...">
            </div>
            <div class="weather">
                <i class="uil uil-sun sun"></i>
                <span class="temperature">32℃</span>
            </div>
        </div>

        <div class="memo-container">
            <h2>메모</h2>
            <div class="memo-btns">
                <button id="compose-btn" class="compose-btn">메모 작성</button>
                <button id="delete-btn" class="delete-btn">삭제</button>
            </div>

            <div class="memo-grid">
                <div class="memo-item" th:each="memo, status : ${memoPage}">
                    <h3 th:text="'#'+${memo.memoId}"></h3>
                    <div class="contentArea">
                        <p th:text="${memo.content}"></p>
                    </div>
                    <span class="date" th:text="${memo.createdAt != null ? #temporals.format(memo.createdAt, 'yyyy-MM-dd HH:mm') : 'N/A'}"></span>
                </div>
            </div>
        </div>
    </section>

    <!-- 메모 내용 모달 -->
    <div id="memo-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2 id="modal-subject"></h2>
            <p id="modal-date"></p>
            <div id="modal-content"></div>
        </div>
    </div>

    <!-- 메모 작성 모달 -->
    <div id="compose-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>쪽지 작성</h2>
            <form id="memo-form">
                <input type="text" id="subject" placeholder="제목" required>
                <textarea id="memo-body" placeholder="내용" required></textarea>
                <button type="submit" class="memo-save">저장</button>
            </form>
        </div>
    </div>
    </section>
</body>
</html>