<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>메모 수정</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
</head>
<body>
<header>
    <h1>[ MEMO 수정 ]</h1>
</header>
<section>
    <form th:action="@{/memo/update}" th:object="${memo}" method="post">
        <input type="hidden" th:field="*{memoId}" /> <!-- 숨겨진 필드로 memoId 전달 -->
        <div>
            <label for="content">메모 내용:</label> <!-- label의 for도 content로 수정 -->
            <textarea id="content" th:field="*{content}"></textarea> <!-- memoContent를 content로 변경 -->
        </div>
        <div>
            <button type="submit">수정 완료</button>
            <a th:href="@{/memo/list}">취소</a>
        </div>
    </form>
</section>
</body>
</html>
